.first-grid {
  margin: 2rem 0;
}

.analysis {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fill, auto);
  gap: 0.8rem;
  color: white;
}

.an-wrapper {
  position: relative;
}

.an-wrapper a:after {
  content: "";
  background: linear-gradient(
    to bottom,
    transparent 0%,
    rgba(0, 0, 0, 0.9) 100%
  );
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s linear;
}
.an-wrapper a:hover {
  background: linear-gradient(
    to bottom,
    transparent 0%,
    rgba(0, 0, 0, 0.9) 30%
  );
}
.an-wrapper .card-img {
  border: none;
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.an-wrapper .card-title {
  z-index: 98;
  position: absolute;
  bottom: 0px;
  padding: 1rem;
  margin: 0;
  width: 100%;
  color: white;
  font-size: 1.5rem;
}

@media screen and (max-width: 760px) {
  .an-wrapper {
    max-height: 16rem;
  }

  .an-wrapper .card-img {
    width: 100%;
    max-height: 16rem;
    object-fit: cover;
  }
}
