.types-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fill, auto);
  grid-gap: 15px;
  background: white;
  margin: 0px 0px 10px 0px;
}

.type {
  height: auto;
}

.type-container {
  .type-img {
    @include image;
    @include flexCenter;
  }
}

.type-title {
  color: black;
  margin-top: 0.7rem;
}

.brands {
  display: block;
}
