li {
  list-style: none;
  text-decoration: none;
  line-height: 1.5rem;
  padding-left: 2rem;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

.analysis-parrafo {
  line-height: 1.5rem;
  font-size: 1.125rem;
  margin-bottom: 0.7rem;
}

.main-title {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.subtitle {
  margin-bottom: 2rem;
  font-size: 1.2rem;
}

h3 {
  margin-bottom: 1rem;
}

.analysis-parrafo {
  margin-bottom: 1.5rem;
}

.img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.type-title {
  margin-left: 1.1rem;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Courgette", cursive;
}

p,
ul,
li,
a {
  font-family: "Open Sans", sans-serif;
}

header {
  color: whitesmoke;
}

.logo a img {
  max-height: 100%;
  max-width: 75%;
  padding: 0.7rem;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 8vh;
  background: #8c0000;
}

nav .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .nav-link li {
  list-style: none;
  margin-right: 20px;
}

nav .nav-link a {
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: 400;
  font-size: 14px;
}

nav a {
  color: white;
}

.home-title h2 {
  margin-bottom: 0;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
  .nav-link {
    width: 45%;
  }
}

@media screen and (max-width: 768px) {
  .body {
    overflow-x: hidden;
  }
  .nav-link {
    position: absolute;
    right: 0px;
    height: 100vh;
    top: 8vh;
    background: #8c0000;
    z-index: 99;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
  .nav-link li {
    opacity: 1;
  }
  .burger {
    display: block;
  }
}

.nav-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}

.title {
  margin-top: 10px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / span 4;
  -ms-grid-row: 1;
  grid-row: 1;
  margin-bottom: 10px;
}

.main-title {
  padding: 10px 0;
  text-align: left;
}

.main-text {
  line-height: 1.4rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

.subtitle {
  text-align: left;
  margin-bottom: 1rem;
}

.first-grid {
  margin: 2rem 0;
}

.analysis {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  -ms-grid-rows: (auto)[auto-fill];
      grid-template-rows: repeat(auto-fill, auto);
  gap: 0.8rem;
  color: white;
}

.an-wrapper {
  position: relative;
}

.an-wrapper a:after {
  content: "";
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.9)));
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.9) 100%);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.an-wrapper a:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(30%, rgba(0, 0, 0, 0.9)));
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.9) 30%);
}

.an-wrapper .card-img {
  border: none;
  position: relative;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.an-wrapper .card-title {
  z-index: 98;
  position: absolute;
  bottom: 0px;
  padding: 1rem;
  margin: 0;
  width: 100%;
  color: white;
  font-size: 1.5rem;
}

@media screen and (max-width: 760px) {
  .an-wrapper {
    max-height: 16rem;
  }
  .an-wrapper .card-img {
    width: 100%;
    max-height: 16rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.main-product-title {
  margin-bottom: 1.4rem;
}

.products {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  -ms-grid-rows: (auto)[auto-fill];
      grid-template-rows: repeat(auto-fill, auto);
  grid-gap: 15px;
  background: white;
  margin: 0px 0px 10px 0px;
}

.card-item {
  background: white;
}

.product {
  border: 1px solid #bebaba;
  height: auto;
}

.product-container {
  height: 100%;
}

.product-container a {
  text-decoration: none;
}

.product-container .product-img {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: 1;
  -o-object-fit: cover;
     object-fit: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-container .amazon-prime {
  margin: 10px auto;
  padding-left: 1rem;
}

.product-container .product-amazon-prime {
  position: relative;
}

.product-container .product-link {
  display: block;
  border-color: #9c7e31 #90742d #786025;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset;
          box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset;
  background: #f0c14b;
  background: -webkit-gradient(linear, left top, left bottom, from(#f7dfa5), to(#f0c14b)) repeat scroll 0 0 rgba(0, 0, 0, 0);
  background: linear-gradient(to bottom, #f7dfa5, #f0c14b) repeat scroll 0 0 rgba(0, 0, 0, 0);
  color: black;
  text-align: center;
  margin-top: 5px;
  padding: 7px 12px 6px 12px;
  border: 1px solid transparent;
}

.product-title {
  padding-left: 1rem;
  margin-top: 1rem;
}

.types-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  -ms-grid-rows: (auto)[auto-fill];
      grid-template-rows: repeat(auto-fill, auto);
  grid-gap: 15px;
  background: white;
  margin: 0px 0px 10px 0px;
}

.type {
  height: auto;
}

.type-container .type-img {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: 1;
  -o-object-fit: cover;
     object-fit: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.type-title {
  color: black;
  margin-top: 0.7rem;
}

.brands {
  display: block;
}

main {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

main h2 {
  margin-bottom: 10px;
}

a {
  color: #2196f3;
  text-decoration: none;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 35px 35px 10px 35px;
  color: #fff;
  background: #1076a5;
}

.footer img {
  width: 50%;
}

.footer > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
}

.footer-left {
  margin-right: 1.25em;
  margin-bottom: 1.5em;
}

.footer-left img {
  max-width: 100%;
  max-height: 100%;
  padding-bottom: 1.5rem;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 1.5em;
}

.footer a {
  text-decoration: none;
}

.footer-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.footer-right > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 50%;
          flex: 1 50%;
  margin-right: 1.25em;
}

.box a {
  color: #fff;
}

.footer-bottom {
  text-align: center;
  color: #fff;
  padding-top: 10px;
}

.footer-left p {
  padding-right: 20%;
  color: #999;
}

.socials a {
  background: #47596e;
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-right: 10px;
  margin-top: 10px;
  padding: 10px 12px;
}

.socials a img {
  font-size: 28px;
}

.form-title {
  margin-bottom: 7px;
  font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
  .footer-right > * {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .footer-left {
    -webkit-box-flex: 1;
        -ms-flex: 1 0px;
            flex: 1 0px;
  }
  .footer-right {
    -webkit-box-flex: 2;
        -ms-flex: 2 0px;
            flex: 2 0px;
  }
}

#mc_embed_signup {
  background: #1076a5;
  clear: left;
  font: 14px Helvetica, Arial, sans-serif;
}

#mc_embed_signup .button {
  background: #8c0000 !important;
}

#mc_embed_signup .button:hover {
  background: #fc0b0b !important;
}

/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
.cookie-container {
  position: fixed;
  bottom: -100%;
  left: 0;
  right: 0;
  background: #2f3640;
  color: #fff;
  padding: 10px 32px;
  -webkit-box-shadow: 0 -2px 16px rgba(47, 54, 64, 0.685);
          box-shadow: 0 -2px 16px rgba(47, 54, 64, 0.685);
  z-index: 997;
  -webkit-transition: 200ms;
  transition: 200ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cookie-container a {
  color: #fff;
}

.cookie-container.active {
  bottom: 0;
}

.cookie-btn {
  background: #8c0000;
  border: 0;
  color: #fff;
  padding: 12px 48px;
  font-size: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.analysis-title {
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 2rem 0px;
}

.analysis-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.analysis-img img {
  margin: 1.5rem auto;
  width: 40%;
  height: auto;
}

.analysis-gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(150px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  -ms-grid-rows: (auto)[auto-fill];
      grid-template-rows: repeat(auto-fill, auto);
  gap: 0.8rem;
  color: white;
  margin: 2rem 0px;
}

.analysis-item-container .analysis-gallery-img {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: 1;
  -o-object-fit: cover;
     object-fit: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.analysis-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.8rem 0px;
}

.horizontal-item {
  margin: 2rem 2rem;
  border: 1px solid #bebaba;
  height: auto;
}

.product-horizontal-img {
  max-width: 100%;
  max-height: 100%;
  margin: auto 0 0 0;
  padding: 1rem;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: 1;
  -o-object-fit: cover;
     object-fit: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-link-horizontal {
  display: block;
  border-color: #9c7e31 #90742d #786025;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset;
          box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset;
  background: #f0c14b;
  background: -webkit-gradient(linear, left top, left bottom, from(#f7dfa5), to(#f0c14b)) repeat scroll 0 0 rgba(0, 0, 0, 0);
  background: linear-gradient(to bottom, #f7dfa5, #f0c14b) repeat scroll 0 0 rgba(0, 0, 0, 0);
  color: black;
  text-align: center;
  margin-top: 5px;
  padding: 7px 12px 6px 12px;
  border: 1px solid transparent;
  position: relative;
  top: 0;
}

.product-title-horizontal {
  margin: 0.5rem auto;
  background: white;
}

.column1 .product-analysis-list {
  list-style: none;
  line-height: 1rem;
  margin-bottom: 1rem;
}

.column1,
.column2 {
  display: inline-block;
  margin-left: 2rem;
}

.analysis-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem auto;
}

@media screen and (max-width: 768px) {
  .tabla {
    margin: 0px auto;
  }
  .product-horizontal-img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    margin: 10px auto;
  }
  .amazon-link {
    width: 100%;
  }
  .horizontal-item {
    width: 90%;
    margin: 2rem auto;
  }
  td {
    display: block;
  }
  tr {
    width: 100%;
    margin: 0px auto;
  }
  .product-link-horizontal {
    width: 100%;
  }
  .column1,
  .column2 {
    position: relative;
    margin: 10px auto;
  }
  li {
    line-height: 1rem;
  }
}
/*# sourceMappingURL=styles.css.map */